<mat-toolbar class="bg-gradient-to-r from-blue-500 to-purple-600">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center space-x-4">
      <div>
        <h1 class="text-xl font-semibold">Marzieh Fadaee</h1>
        <p class="text-sm">Frontend Developer</p>
      </div>
    </div>
    <nav class="space-x-10">
      <a mat-button routerLink="/experiences" class="text-sm font-medium hover:underline">
        Experiences
      </a>
      <a mat-button routerLink="/educations" class="text-sm font-medium hover:underline">
        Educations
      </a>
      <a mat-button routerLink="/projects" class="text-sm font-medium hover:underline">
        Projects
      </a>
      <a mat-button routerLink="/skills" class="text-sm font-medium hover:underline"> Skills </a>
    </nav>
  </div>
</mat-toolbar>
