<mat-toolbar class="bg-amber-300">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center space-x-4">
      <div>
        <h1 class="text-xl font-semibold">Marzieh Fadaee</h1>
        <p class="text-sm">Frontend Developer</p>
      </div>
    </div>
    <div class="flex items-center space-x-10">
      <nav class="flex space-x-10">
        <a
          mat-button
          *ngFor="let link of navigationLinks"
          [routerLink]="link.route"
          class="text-sm font-medium hover:underline"
        >
          {{ link.label }}
        </a>
      </nav>
    </div>

  </div>
</mat-toolbar>
