<section class="text-white h-screen flex items-center">
  <div class="container mx-auto flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-10">
    <div class="w-1/2">
      <img
        src="https://s6.uupload.ir/files/20230210_105136_o8k.jpg"
        alt="Marzieh Fadaee"
        class="w-full h-auto rounded-md shadow-md"
      />
    </div>
    <div class="w-1/2">
      <h2 class="text-4xl font-bold mb-2">Hi, I'm Marzieh Fadaee</h2>
      <p class="text-lg font-semibold text-gray-300 mb-5">Frontend Developer at Tapsell</p>
      <p class="text-gray-300 leading-relaxed text-xl text-justify">
        I'm a passionate frontend developer with a deep love for crafting beautiful and
        user-centric web experiences. My journey in web development began two years ago,
        and I've been dedicated to learning and growing ever since. With a focus on modern
        technologies and best practices, I transform ideas into interactive and engaging
        digital solutions. Whether it's turning a design into code or optimizing performance,
        I'm committed to delivering top-notch results that make an impact.
      </p>
    </div>
  </div>
</section>
